<a href="https://colab.research.google.com/github/SURESHBEEKHANI/AIChatBotHub/blob/main/Python_String_Manipulation_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Use the print method to display the following string
print("Suresh Beekhani Data Scientist and ML Engineer ")

Suresh Beekhani Data Scientist and ML Engineer

In [2]:
# Assigning a string to the variable 'a'
a = "Suresh Beekhani as a data SCIENTIST and ML Engineer"

# Displaying the content of the variable 'a' using the print function
print(a)

Suresh Beekhani as a data SCIENTIST and ML Engineer

In [3]:
# This variable contains a multiline string
Var = """These examples cover various scenarios of splitting strings and lists
in Python. If you have a specific use case or scenario in mind, feel free
to provide more details for a more tailored example!
"""

# Print the content of the variable
print(Var)  # Display the content of the variable

These examples cover various scenarios of splitting strings and lists
in Python. If you have a specific use case or scenario in mind, feel free
to provide more details for a more tailored example!

In [4]:
#Use Upercase Methed and Make all Words in string  Show Upercase
upercase=a
print(upercase.upper())

SURESH BEEKHANI AS A DATA SCIENTIST AND ML ENGINEER

In [5]:
#Use Lower case Methed and Make all Word in  lowerCase
lowercase=a
print(lowercase.lower())

suresh beekhani as a data scientist and ml engineer

In [6]:
#Use Split Methed and convert String into List
split=a
print(split.split(","))

['Suresh Beekhani as a data SCIENTIST and ML Engineer']

In [7]:
#Use Capitalize Methed and Disply first Word of String
Capliaztion=a
print(Capliaztion.capitalize())

Suresh beekhani as a data scientist and ml engineer

In [8]:
#Use Replace Methed and Replace character "S" into "K" in All Sentences
replace=a
print(replace.replace("S","K"))

Kuresh Beekhani as a data KCIENTIKT and ML Engineer

In [9]:
#Use Replace Methed and Replace character "Ml " into "DL" in All Sentences
replace=a
print(replace.replace("ML ","DL"))

Suresh Beekhani as a data SCIENTIST and DLEngineer

In [10]:
#Use CaseFlod Disply all Sentence of  characters in Lowercase
caseflod = a
print(caseflod.casefold())

suresh beekhani as a data scientist and ml engineer

In [11]:
#Use Strip Methed and Remved Space Form stard _Ending Sentence
strip = a
print(strip.strip())

Suresh Beekhani as a data SCIENTIST and ML Engineer

In [12]:
#Use Title Methed and Make  first Charchter of each Words in string Show the  Uppercase
title = a
print(title.title())

Suresh Beekhani As A Data Scientist And Ml Engineer

In [13]:
#Use Count Methed and Count "A" character in Sentence
count = a
print(count.count("a"))

6

In [14]:
#Use Count Methed and Count "data " Word in Sentence
count = a
print(count.count("data"))

1

In [15]:
#Use Count Methed and Count all Charchter  in Sentence
count = a
print(count.count(""))

52

In [16]:
#Use Center Methed all sentences alignments in Center
center = a
print(center.center(100))

                        Suresh Beekhani as a data SCIENTIST and ML Engineer

In [17]:
#Use Type methed and Disply Type Objects
print(type(a))

<class 'str'>

In [18]:
# Using the swapcase() method to swap the case of letters in a string
Swapcase = a
print(Swapcase.swapcase())  # Prints the string with uppercase letters turned into lowercase and vice versa

sURESH bEEKHANI AS A DATA scientist AND ml eNGINEER

In [19]:
# Convert string to list using split()
tuple_data =list(a.split())
# Combine the elements of the tuple into a single string without spaces between sentences
joined_string = "".join(tuple_data)

# Print the result
print(joined_string)

SureshBeekhaniasadataSCIENTISTandMLEngineer

In [20]:
# Convert string to tuple using split()
tuple_data = tuple(a.split())
# Use the join method to remove spaces between all the words in the sentence
Joine = "".join(tuple_data)
print(Joine)  # Print the result after joining the words without spaces

SureshBeekhaniasadataSCIENTISTandMLEngineer

In [21]:
# Assign Value Of "a" Varible to "my_staring" Varible
my_string = a
#Use Print and len Methed and Disply Len Of my string Latters
print(len(my_string))

51

In [22]:
#Use Find Methed the index Postion  of the substring "World" in the string Sentence
my_string="Hello,World"
index = my_string.find("World")

# Print the result
print(index)#Output

6

In [49]:
# Use a variable named 'string' and assign a value of string data type to it
string = "Suresh Beekhani Ceo Of Insights Swape"

# Use the 'encode' method to convert the string into a format that computers can understand (encoding)
encoded_string = string.encode()

# Print the encoded information
print(encoded_string)

b'Suresh Beekhani Ceo Of Insights Swape'

In [51]:
# Assign a string to the variable named 'String'
String = "Suresh Beekhani Is a Ceo Of Insifgt Swapi >"

# Use the 'endswith' method to check if the string ends with the specified symbol (">")
String1 = String.endswith(">")

# Print the boolean result of the 'endswith' check
print(String1)

True

In [64]:
# Assign a string with tabs to the variable named 'string'
string = "H\te\tl\tl\to"

# Use the 'expandtabs' method with a tab size of 2 to replace tabs with spaces in the string
expanded_string = string.expandtabs(2)

# Print the resulting string after expanding tabs
print(expanded_string)

H e l l o